@import 'tailwindcss';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;

  --angle: 0turn;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0turn;
}

@theme {
  /* Fonts */
  --font-pixelify: Pixelify Sans, Helvetica, Arial, sans-serif;

  /* Variables */
  --var-brad: 35px;
  --var-padding: 15px;

  /* Colors */
  --color-gray: #454449;
  --color-blackish: #32352a;

  /* Box Shadows */
  --shadow-glass: 0 -1px 1px 0 var(--color-white), 0 1px 1px 0 var(--color-white),
  1px 1px 1px 0 rgba(0, 0, 0, 0.2), -1px 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.2);
  --shadow-bg: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.2);

  /* Radius */
  --radius-bg: calc(var(--var-brad) - var(--var-padding));

  /* Animations */
  --animate-rainbow: rainbow 3s linear infinite;

  @keyframes rainbow {
    100% {
      --angle: 1turn;
    }
  }
}

@utility pause-animation {
  animation-play-state: paused!important;
}
